.button_type_edit {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background: url(../../../images/Edit.png) center no-repeat;
  outline-style: none;
  padding: 0;
  margin: 0 0 0 18px;
  cursor: pointer;
}

.button_type_edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
    position: absolute;
    right: -28px;
    top: 30px;
  }
}
